<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Dodawanie oceny</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/register.css}">

</head>
<body>
<!--<form action="*" th:action="@{/rating/addRating/save}" th:object="${rating}" method="post">-->
<!--    <div class="container">-->
<!--        <h1>Add Rating</h1>-->
<!--        <hr>-->
<!--        trainer - to obiekt dodac id-->
<!--        <input type="hidden" th:name="userEntity" th:id="userEntity" th:value="${currentUser.id}">-->

<!--        <label><b>opinion</b></label>-->
<!--        <input type="text" th:field="*{opinion}" placeholder="Opinion">-->

<!--        <label><b>rate</b></label>-->
<!--        <input type="text" th:field="*{rate}" placeholder="rate" required>-->

<!--        <label><b>trainerID</b></label>-->
<!--        <input type="text" th:name="trainer" th:id="trainer" th:field="*{trainer.id}" placeholder="rate" required>-->

<!--        <hr>-->

<!--        <button type="submit" class="registerbtn">Add Rating - Click on me</button>-->
<!--    </div>-->
<!--</form>-->


</body>
</html>